IP_MEMORIA=127.0.0.1
PUERTO_ESCUCHA=8002
MOSTRAR_LOGS=[1, 1]; // Para mostrar logs, setear en 1. Primer item -> Logs obligatorios / Segundo item -> Logs adicionales.

TAM_MEMORIA=4096
TAM_PAGINA=64
ENTRADAS_POR_TABLA=2
RETARDO_MEMORIA=1000
ALGORITMO_REEMPLAZO=CLOCK
MARCOS_POR_PROCESO=2
RETARDO_SWAP=5000
PATH_SWAP=/home/ubuntu/swap
TAMANIO_SWAP=10240