IP_KERNEL=127.0.0.1
PUERTO_KERNEL=4444
IP_MEMORIA=127.0.0.1
PUERTO_MEMORIA=8001
IP_CPU=127.0.0.1
PUERTO_CPU_DISPATCH=8002
PUERTO_CPU_INTERRUPT=8005
PUERTO_ESCUCHA=8000
ALGORITMO_PLANIFICACION=FIFO
GRADO_MAX_MULTIPROGRAMACION=4
DISPOSITIVOS_IO=[DISCO, IMPRESORA]
TIEMPOS_IO=[1000, 5000]
QUANTUM_RR=2000
MOSTRAR_LOGS=[1, 1]; // Para mostrar logs, setear en 1. Primer item -> Logs obligatorios / Segundo item -> Logs adicionales.