MOSTRAR_LOGS=[1, 1]; // Para mostrar logs, setear en 1. Primer item -> Logs obligatorios / Segundo item -> Logs adicionales.

IP_CPU=127.0.0.1
PUERTO_ESCUCHA_DISPATCH=8001
PUERTO_ESCUCHA_INTERRUPT=8005
IP_MEMORIA=127.0.0.1
PUERTO_MEMORIA=8002

ENTRADAS_TLB=4
REEMPLAZO_TLB=FIFO
RETARDO_INSTRUCCION=25